#conteiner{
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: blue;
    background-color: yellow;    
}

#textos{
    padding-left: 200px;
    font-size: 30px;
    font-family: Helvetica;
    display: inline-block;
    color: red;
}

.textinho{
    justify-content: center;
    float: left;
    padding: 50px;
}

.especial{
    
}